# Anaconda Supported Packages
click >= 6.6
filelock >= 2.0
numpy >= 1.11
pandas >= 0.18
scikit-learn >= 0.17

# Pip Only Packages
Flask >= 0.11.1
sortedcontainers >= 1.5.7
watchdog >= 0.8.3
qualname >= 0.1.0
awesome-slugify >= 1.6.5
