@import '~muse-ui/dist/muse-ui.css';
@import '~muse-ui/dist/theme-carbon.css';
@import '~material-design-icons/iconfont/material-icons.css';

// ---- Page Reset ----
/*
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
*/

// ---- Page Layout ----
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.mu-dialog-wrapper {
  width: 90% !important;
}

// ---- Common Elements ----
.text-active {
  color: #3f51b5;
}
.text-success {
  color: #009688;
}
.text-error {
  color: #f44336;
}
.text-info {
  color: #9e9e9e;
}