@import '~muse-ui/dist/muse-ui.css';
@import '~muse-ui/dist/theme-carbon.css';
@import '~material-design-icons/iconfont/material-icons.css';

// ---- Page Reset ----
/*
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
*/

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
